* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: solid re
}

body {
    background-color: black;
    color: white;
}

.introduction {
    text-align: left;
    font-size: 45px;
    max-width: 60%;
    margin-top: 10%;
}

#iparagraph {
    font-size: 30px;
}

.introduction button {
    background-color: #0b0c0f;
    text-align: center;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    position: relative;
    border: solid white;
    margin-left: 30px;
    margin-top: 50px;
}
.introduction2 button {
    background-color: #0b0c0f;
    text-align: center;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    position: relative;
    border: solid white;
    margin-left: 30px;
    margin-top: 50px;
    }
.introduction2 {
    text-align: left;
    font-size: 30px;
    max-width: 60%;
    margin-top: 10%;
}

.introduction button:hover {
    background-color: #201c34;
    border: solid white;
}
.introduction2 button:hover {
    background-color: #201c34;
    border: solid white;
}

#potrait {
    max-height: 80%;
    max-width: 80%;
    float: right;
    position: relative;
    margin-top: 200px;
    border-radius: 5%;
    margin-right: 0px; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    max-width: 70%;
    height: 70vh;
}

.Separator {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.26);
    margin-top: 100px;
}

#separator2 {
    margin-top: 220px;
}

#introduction-paragraph {
    font-size: 35px;
    text-align: left;
}

#w-paragraph {
    
}

#Self-Calendar-logo {
    width: 500px;
    height: 500px;
    margin-top: 200px;
    border-radius: 15px;
}

::selection {
    color: #504686;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
}

.topnav a:hover {
    background-color: #504686;
    color: white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #504686;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #504686;
}

#contactcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding-bottom: ;
}

#contactme {
    text-align: center;
    margin-bottom: 50px;
}
#formbox{
    padding-bottom: 200px;
}
.footer{
    background-color: transparent;
    height: 300px;
    width: 100%;
}
